<div class='container'>
  <h1>All restaurants <%= link_to "Add a restaurant", new_restaurant_path, class: "btn btn-info" %></h1>
  <% @restaurants.each do |restaurant| %>
    <div><%= link_to restaurant.name, restaurant_path(restaurant) %></div>
  <% end %>
</div>
